@import "./utils/variables";
@import "./utils/visually-hidden";
@import "./utils/mixin";

@import "./base/reset";
@import "./base//common";

@import "./components/container";
@import "./components/btn";
@import "./components/logo";
@import "./components/modal";
@import "./components/form";

@import "./layout/header";
@import "./layout/hero";
@import "./layout/section-work";
@import "./layout/section-our-work";
@import "./layout/section-team";
@import "./layout/regular-customers";
@import "./layout/footer";

@import "./pages/section-portfolio";
