.section.hero {
  background-color: var(--primary-bg-color);
  text-align: center;
  padding: 118px 15px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("..");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @include mobile {
    padding: 118px 60px;
  }
  @include tablet {
    padding: 118px 204px;
  }
  @media screen and (width: 1600px) {
    padding: 200px 452px;
  }
}

.container.hero {
  width: 100%;
  padding: 0;
  align-items: center;
}

.hero-title {
  display: flex;
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 20px;
  line-height: 1.38;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
  width: 100%;
  text-align: center;
  @include mobile {
    font-size: 26px;
    width: 360px;
  }
  @include tablet {
    font-size: 26px;
    width: 360px;
  }
  @include desktop {
    font-size: 44px;
    width: 696px;
  }
}
