:root {
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --primery-color-button: #f5f4fa;
  --primary-bg-color: #2f303a;
  --pimary-soc-icon-color: #afb1b8;
  --secondary-bgc-color: #188ce8;
  --bg-gradient: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
}
